---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/dragonflydb.io/dragonfly_v1alpha1.json
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: &app dragonfly
spec:
  args:
    - --maxmemory=$(MAX_MEMORY)Mi
    - --proactor_threads=2
    - --cluster_mode=emulated
    - --lock_on_hashtags
    - --default_lua_flags=allow-undeclared-keys
  authentication:
    passwordFromSecret:
      name: dragonfly-secret
      key: password
  env:
    - name: MAX_MEMORY
      valueFrom:
        resourceFieldRef:
          resource: limits.memory
          divisor: 1Mi
  image: ghcr.io/dragonflydb/dragonfly:v1.36.0
  labels:
    dragonflydb.io/cluster: dragonfly
  replicas: 3
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 512Mi
  serviceSpec:
    annotations:
      gatus.home-operations.com/endpoint: |-
        name: dragonfly
        group: infrastructure
        conditions:
          - "[CONNECTED] == true"
          - "[RESPONSE_TIME] < 100"
        ui:
          hide-hostname: true
          hide-url: true
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app.kubernetes.io/part-of: *app
