---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
components:
  - ../../components/namespace
resources:
  # Flux-Kustomizations
  - ./amd-device-plugin/ks.yaml
  - ./cilium/ks.yaml
  - ./coredns/ks.yaml
  - ./csi-driver-nfs/ks.yaml
  - ./descheduler/ks.yaml
  - ./generic-device-plugin/ks.yaml
  - ./metrics-server/ks.yaml
  - ./reloader/ks.yaml
  # - ./spegel/ks.yaml
