---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  interval: 1h
  values:
    monitoring:
      enabled: true
      createPrometheusRules: true
    toolbox:
      enabled: true
    route:
      dashboard:
        host:
          name: rook.wyde.network
          path: /
          pathType: PathPrefix
        parentRefs:
          - name: envoy-internal
            namespace: network
    cephClusterSpec:
      cephConfig:
        global:
          bdev_enable_discard: "true" # Must be quoted.
          bdev_async_discard_threads: "1" # Must be quoted.
          osd_class_update_on_start: "false" # Must be quoted.
          device_failure_prediction_mode: local # Requires mgr module.
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      crashCollector:
        # TODO: Change to 'false' prior to multi-node cluster deployment.
        disable: true
      csi:
        readAffinity:
          enabled: true
      dashboard:
        enabled: true
        urlPrefix: /
        ssl: false
        prometheusEndpoint: http://prometheus-operated.observability.svc.cluster.local:9090
      mgr:
        # TODO: Remove prior to multi-node cluster deployment.
        count: 1
        # TODO: Remove prior to multi-node cluster deployment.
        allowMultiplePerNode: true
        modules:
          - name: diskprediction_local
            enabled: true
          - name: insights
            enabled: true
          - name: pg_autoscaler
            enabled: true
          - name: rook
            enabled: true
      # TODO: Remove prior to multi-node cluster deployment. Ceph needs an odd number of mons. Must
      # run a single mon with a single node.
      mon:
        count: 1
        # TODO: Remove prior to multi-node cluster deployment.
        allowMultiplePerNode: true
      network:
        provider: host
        connections:
          requireMsgr2: true
      storage:
        useAllNodes: true
        useAllDevices: false
        devicePathFilter: /dev/disk/by-id/nvme-SAMSUNG_MZQL23T8HCLS-00A07_.*
        config:
          encryptedDevice: "true"
          osdsPerDevice: "1"
    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            # TODO: Change size to 3 prior to multi-node cluster deployment.
            size: 1
        storageClass:
          enabled: true
          name: ceph-block
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
          mountOptions:
            - discard
          parameters:
            compression_mode: aggressive
            compression_algorithm: zstd
            imageFormat: "2"
            imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: false
      deletionPolicy: Delete
    # TODO: Disable CephFS for now. Re-enable when applicable.
    cephFileSystems: []
    # cephFileSystems:
    #   - name: &cephFileSystemName ceph-filesystem
    #     spec:
    #       metadataPool:
    #         replicated:
    #           # TODO: Change size to 1 prior to single-node cluster deployment.
    #           size: 3
    #       dataPools:
    #         - failureDomain: host
    #           replicated:
    #             # TODO: Change size to 1 prior to single-node cluster deployment.
    #             size: 3
    #           name: data0
    #       metadataServer:
    #         activeCount: 1
    #         activeStandby: true
    #         priorityClassName: system-cluster-critical
    #         placement:
    #           topologySpreadConstraints:
    #             - maxSkew: 1
    #               topologyKey: kubernetes.io/hostname
    #               # TODO: Change to 'Schedule' prior to single-node cluster deployment. Spread
    #               # constraints are useful in multi-node clusters but harmful on single-node
    #               # clusters.
    #               whenUnsatisfiable: DoNotSchedule
    #               labelSelector:
    #                 matchLabels:
    #                   app.kubernetes.io/name: ceph-mds
    #                   app.kubernetes.io/part-of: *cephFileSystemName
    #         resources:
    #           requests:
    #             cpu: 100m
    #             memory: 1Gi
    #           limits:
    #             memory: 4Gi
    #     storageClass:
    #       enabled: true
    #       isDefault: false
    #       name: ceph-filesystem
    #       pool: data0
    #       reclaimPolicy: Delete
    #       allowVolumeExpansion: true
    #       volumeBindingMode: Immediate
    #       parameters:
    #         csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
    #         csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
    #         csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
    #         csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
    #         csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
    #         csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
    #         csi.storage.k8s.io/fstype: ext4
    # cephFileSystemVolumeSnapshotClass:
    #   enabled: true
    #   name: csi-ceph-filesystem
    #   isDefault: false
    #   deletionPolicy: Delete
    cephObjectStores: []
