---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  chartRef:
    kind: OCIRepository
    name: qbittorrent
  interval: 1h
  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.3@sha256:2feb2c8d188db4de330ca4840c167282e10e3252f4c6d1bce7943c7f46099836
            env:
              QBT_TORRENTING_PORT: &qbPort 60112
              QBT_WEBUI_PORT: &port 80
              TZ: &tz Europe/Stockholm
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 5
            resources:
              requests:
                cpu: 100m
                memory: 2Gi
              limits:
                memory: 6Gi
            securityContext:
              runAsNonRoot: true
              runAsUser: 1000
              runAsGroup: 1000
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.1@sha256:dc38bac12b40bb935e477f0dbd88adf174001c84b144c86648b25ff5f14ef54a
            env:
              # Ports to allow through the default interface. This is needed for Kubernetes sidecars.
              FIREWALL_INPUT_PORTS: "80,9999"
              # Ports to allow from the VPN server side.
              FIREWALL_VPN_INPUT_PORTS: *qbPort
              # Allow access to K8s subnets.
              FIREWALL_OUTBOUND_SUBNETS: "10.42.0.0/16,10.43.0.0/16"
              # Internal health check server listening address.
              HEALTH_SERVER_ADDRESS: ":9999"
              TZ: *tz
              VPN_SERVICE_PROVIDER: custom
              VPN_TYPE: wireguard
              VPN_INTERFACE: wg0
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: true
                spec:
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 5
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
                # Request the /dev/net/tun device that is exposed on the node
                # using generic-device-plugin. For more information, see:
                # - https://www.talos.dev/v1.8/introduction/what-is-new/#accessing-devnettun-in-kubernetes-pods
                # - https://www.talos.dev/v1.8/kubernetes-guides/configuration/device-plugins/
                squat.ai/tun: "1"
              limits:
                memory: 768Mi
                squat.ai/tun: "1"
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {add: ["NET_ADMIN"]}
          vuetorrent:
            dependsOn: gluetun
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.0
            args:
              - --repo=https://github.com/WDaan/VueTorrent
              - --ref=latest-release
              - --period=86400s
              - --root=/addons
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      addons:
        type: emptyDir
        advancedMounts:
          qbittorrent:
            app:
              - path: /addons
                subPath: addons
            vuetorrent:
              - path: /addons
                subPath: addons
      config:
        existingClaim: "{{ .Release.Name }}"
      media:
        type: nfs
        server: nas.wyde.network
        path: /mnt/hdd-media/Media
        globalMounts:
          - path: /data
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.wyde.network"
          - qbit.wyde.network
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    service:
      app:
        ports:
          http:
            port: *port
