---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: flux-metrics-configmap
      valuesKey: flux-metrics.yaml
  values:
    cleanPrometheusOperatorObjectNames: true
    alertmanager:
      route:
        main:
          enabled: true
          hostnames:
            - alertmanager.wyde.network
          parentRefs:
            - name: envoy-internal
              namespace: network
      alertmanagerSpec:
        alertmanagerConfiguration:
          name: alertmanager
          global:
            resolveTimeout: 5m
        externalUrl: https://alertmanager.wyde.network
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            memory: 64Mi
        storage:
          volumeClaimTemplate:
            metadata:
              name: data
            spec:
              storageClassName: ceph-block
              resources:
                requests:
                  storage: 1Gi
    grafana:
      enabled: false
      forceDeployDashboards: true
      defaultDashboardsTimezone: browser
      sidecar:
        dashboards:
          annotations:
            grafana_folder: Kubernetes
    kubeEtcd:
      service:
        selector:
          component: kube-apiserver # etcd runs on control plane nodes.
    kubeProxy:
      enabled: false # Replaced with Cilium.
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      metricLabelsAllowlist:
        - pods=[*]
        - deployments=[*]
        - persistentvolumeclaims=[*]
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels:
                - "__meta_kubernetes_pod_node_name"
              targetLabel: kubernetes_node
      resources:
        requests:
          cpu: 10m
          memory: 128Mi
        limits:
          memory: 384Mi
    prometheus-node-exporter:
      fullnameOverride: node-exporter
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels:
                - "__meta_kubernetes_pod_node_name"
              targetLabel: kubernetes_node
            - action: replace
              regex: (.*)
              replacement: $1.wyde.network:9100
              sourceLabels:
                - kubernetes_node
              targetLabel: instance
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          memory: 64Mi
    prometheusOperator:
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          memory: 64Mi
      prometheusConfigReloader:
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            memory: 64Mi
    prometheus:
      route:
        main:
          enabled: true
          hostnames:
            - prometheus.wyde.network
          parentRefs:
            - name: envoy-internal
              namespace: network
      prometheusSpec:
        externalUrl: https://prometheus.wyde.network
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        retention: 7d
        retentionSize: 30GB
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 2000Mi
        storageSpec:
          volumeClaimTemplate:
            metadata:
              name: data
            spec:
              storageClassName: ceph-block
              resources:
                requests:
                  storage: 50Gi
