# Archived deployments
.archive/
# Backup directory
.backup/
# Private directory
.private/
# Secrets
*.crt
*.decrypted~*.yaml
*.iso
*.key
*.key.bak
*.pub
# Kubernetes & Talos
kubeconfig
talosconfig
k8s-*.yaml.j2
