---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich-folder-album-creator
  namespace: &namespace self-hosted
spec:
  dependsOn:
    - name: immich
      namespace: *namespace
  interval: 1h
  path: ./kubernetes/apps/self-hosted/immich-folder-album-creator/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  wait: false
