---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dcgm-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: dcgm-exporter
      version: 4.0.1
      sourceRef:
        kind: HelmRepository
        name: dcgm-exporter
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: nvidia-device-plugin
      namespace: kube-system
  values:
    image:
      repository: nvcr.io/nvidia/k8s/dcgm-exporter
      tag: 3.3.7-3.5.0-ubuntu22.04
    extraEnv:
      NVIDIA_DRIVER_CAPABILITIES: all
      NVIDIA_VISIBLE_DEVICES: all
    nodeSelector:
      nvidia.com/gpu.present: "true"
    resources:
      requests:
        cpu: 10m
        memory: 256Mi
      limits:
        memory: 384Mi
        nvidia.com/gpu: 1
    runtimeClassName: nvidia
    serviceMonitor:
      enabled: true
      interval: 15s
      honorLabels: true
