---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: karakeep
spec:
  chartRef:
    kind: OCIRepository
    name: karakeep
  interval: 1h
  values:
    controllers:
      karakeep:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.30.0@sha256:2724d4a9a6d13a7fa3babf53b9245767aae56c34f06042a8463ee983c6b41caf
            env:
              BROWSER_WEB_URL: http://karakeep-chrome.self-hosted.svc.cluster.local:9222
              COREPACK_INTEGRITY_KEYS: 0
              CRAWLER_DOWNLOAD_BANNER_IMAGE: true
              CRAWLER_ENABLE_ADBLOCKER: true
              CRAWLER_STORE_SCREENSHOT: true
              DATA_DIR: /karakeep_data
              DB_WAL_MODE: true
              DISABLE_NEW_RELEASE_CHECK: true
              DISABLE_SIGNUPS: true
              INFERENCE_CONTEXT_LENGTH: 4096
              INFERENCE_ENABLE_AUTO_SUMMARIZATION: true
              MEILI_ADDR: http://karakeep-meilisearch.self-hosted.svc.cluster.local:7700
              NEXTAUTH_URL: "https://{{ .Release.Name }}.wyde.network"
              OCR_LANGS: eng,swe
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 2Gi
            securityContext:
              # s6-overlay-suexec: fatal: child failed with exit code 100
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
              runAsNonRoot: false
              allowPrivilegeEscalation: false
              # s6-rmrf: fatal: unable to remove /run/s6: Read-only file system
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
          chrome:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124@sha256:1a0046448e0bb6c275c88f86e01faf0de62b02ec8572901256ada0a8c08be23f
            command:
              - chromium-browser
            args:
              - --headless
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
              - --hide-scrollbars
              # [ERROR:zygote_host_impl_linux.cc(273)] Failed to adjust OOM score of renderer with pid 25: Permission denied (13)
              - --no-zygote
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
          meilisearch:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.13.3@sha256:c4d6ab59c18d7b3636e82af862c31861ccf8afb3e9c14dddf9d3e868840667cd
            args:
              - /bin/meilisearch
              - --experimental-dumpless-upgrade
            env:
              MEILI_NO_ANALYTICS: true
            envFrom: *envFrom
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 4Gi
            securityContext:
              allowPrivilegeEscalation: false
              # Error while receiving the playload. `Read-only file system (os error 30)`
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      cache:
        type: emptyDir
        advancedMounts:
          karakeep:
            app:
              - path: /app/apps/web/.next/cache
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          karakeep:
            app:
              - path: /karakeep_data
                subPath: karakeep_data
            meilisearch:
              - path: /meili_data
                subPath: meili_data
      tmp:
        type: emptyDir
        advancedMounts:
          karakeep:
            chrome:
              - path: /tmp
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.wyde.network"
          - hoarder.wyde.network
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: &port 3000
    service:
      app:
        ports:
          http:
            port: *port
      chrome:
        ports:
          http:
            port: 9222
      meilisearch:
        ports:
          http:
            port: 7700
