---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app blackbox-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-blackbox-exporter
      version: 9.2.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    config:
      modules:
        http_2xx:
          prober: http
          timeout: 5s
          http:
            valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
            follow_redirects: true
            preferred_ip_protocol: ipv4
        icmp:
          prober: icmp
          timeout: 5s
          icmp:
            preferred_ip_protocol: ipv4
        tcp_connect:
          prober: tcp
          timeout: 5s
          tcp:
            preferred_ip_protocol: ipv4
    ingress:
      enabled: true
      className: internal
      hosts:
        - host: &host blackbox.${SECRET_DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
          - hosts:
              - *host
    prometheusRule:
      enabled: true
      additionalLabels:
        app: prometheus-operator
        release: prometheus
      rules:
        - alert: BlackboxSslCertificateWillExpireSoon
          expr: probe_ssl_earliest_cert_expiry - time() < 86400 * 3
          for: 15m
          labels:
            severity: critical
          annotations:
            summary: |-
              The SSL certificate for {{ $labels.target }} will expire in less than 3 days
        - alert: BlackboxSslCertificateExpired
          expr: probe_ssl_earliest_cert_expiry - time() <= 0
          for: 15m
          labels:
            severity: critical
          annotations:
            summary: |-
              The SSL certificate for {{ $labels.target }} has expired
        - alert: BlackboxProbeFailed
          expr: probe_success == 0
          for: 15m
          labels:
            severity: critical
          annotations:
            summary: |-
              The host {{ $labels.instance }} is currently unreachable
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 96Mi
    securityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        # Add NET_RAW to enable ICMP.
        add: ["NET_RAW"]
    serviceMonitor:
      enabled: true
      defaults:
        interval: 1m
        labels:
          release: prometheus
        scrapeTimeout: 30s
      targets:
        # TrueNAS
        - module: http_2xx
          name: nas-http
          url: "https://nas.${SECRET_DOMAIN}"
        - module: icmp
          name: nas-icmp
          url: nas.${SECRET_DOMAIN}
        # PiKVM
        - module: http_2xx
          name: pikvm-http
          url: "https://pikvm.${SECRET_DOMAIN}"
        - module: icmp
          name: pikvm-icmp
          url: pikvm.${SECRET_DOMAIN}
        # ProxmoxVE
        - module: http_2xx
          name: pve-http
          url: "https://pve.${SECRET_DOMAIN}:8006"
        - module: icmp
          name: pve-icmp
          url: pve.${SECRET_DOMAIN}

