---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: romm
spec:
  chartRef:
    kind: OCIRepository
    name: romm
  interval: 1h
  values:
    controllers:
      romm:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
        containers:
          app:
            image:
              repository: ghcr.io/rommapp/romm
              tag: 4.6.0@sha256:9e5d7a85be7aa11088f1a82a62367ea8e70b25a23017cd9ffb4481f19ed81b83
            env:
              # Used for Tinfoil Integration. For more information, see https://docs.romm.app/latest/Integrations/Tinfoil-integration/?h=disable_download_endpoint_auth
              DISABLE_DOWNLOAD_ENDPOINT_AUTH: true
              # Only set to true after first run and admin has been created.
              DISABLE_USERPASS_LOGIN: false
              ENABLE_RESCAN_ON_FILESYSTEM_CHANGE: true
              ENABLE_SCHEDULED_CONVERT_IMAGES_TO_WEBP: true
              ENABLE_SCHEDULED_RESCAN: true
              HASHEOUS_API_ENABLED: true
              PLAYMATCH_API_ENABLED: true
              REDIS_HOST: dragonfly.database.svc.cluster.local
              REDIS_PORT: 6379
              REDIS_DB: 4
              RESCAN_ON_FILESYSTEM_CHANGE_DELAY: 5
              ROMM_DB_DRIVER: postgresql
              SCHEDULED_RESCAN_CRON: "0 2 * * *"
              TASK_TIMEOUT: 3600
              TZ: Europe/Stockholm
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 4Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        globalMounts:
          - path: /romm/config/config.yml
            subPath: config.yml
            readOnly: true
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          romm:
            app:
              - path: /romm/assets
                subPath: assets
              - path: /romm/config
                subPath: config
              - path: /romm/resources
                subPath: resources
      library:
        type: nfs
        server: nas.wyde.network
        path: /mnt/hdd-data/Games/RomM
        globalMounts:
          - path: /romm/library
      nginx-conf:
        type: emptyDir
        globalMounts:
          - path: /etc/nginx/conf.d
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.wyde.network"
        parentRefs:
          - name: envoy-internal
            namespace: network
    service:
      app:
        ports:
          http:
            port: *port
