---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name immich
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        DB_DATABASE_NAME: immich
        DB_HOSTNAME: pgvectors-rw.database.svc.cluster.local
        DB_USERNAME: "{{ .IMMICH_POSTGRES_USER }}"
        DB_PASSWORD: "{{ .IMMICH_POSTGRES_PASS }}"
        REDIS_PASSWORD: "{{ .DRAGONFLY_PASSWORD }}"
  dataFrom:
    - extract:
        key: dragonfly
    - extract:
        key: immich
