---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: postgres-backup
  namespace: &namespace database
spec:
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: *namespace
  interval: 1h
  path: ./kubernetes/apps/database/postgres-backup/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  wait: false
