---
machine:
  type: controlplane
  install:
    diskSelector:
      serial: S666NT0Y523232
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-1
---
apiVersion: v1alpha1
kind: VolumeConfig
name: STATE
encryption:
  provider: luks2
  keys:
    - slot: 0
      tpm:
        checkSecurebootStatusOnEnroll: true
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
encryption:
  provider: luks2
  keys:
    - slot: 0
      tpm:
        checkSecurebootStatusOnEnroll: true
provisioning:
  diskSelector:
    match: disk.model == "SAMSUNG MZ1L21T9HCLS-00A07"
  minSize: 20GB
  maxSize: 256GB # Limit EPHEMERAL to 256GB.
  grow: false # Do not auto-grow.
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
encryption:
  provider: luks2
  keys:
    - slot: 0
      tpm:
        checkSecurebootStatusOnEnroll: true
provisioning:
  diskSelector:
    match: disk.model == "SAMSUNG MZ1L21T9HCLS-00A07"
  minSize: 1.0TB
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp5s0f0np0
  - enp5s0f1np1
bondMode: 802.3ad
miimon: 100
updelay: 200
downdelay: 200
xmitHashPolicy: layer3+4
lacpRate: fast
mtu: 1500
addresses:
  - address: 192.168.20.21/24
routes:
  - gateway: 192.168.20.1
---
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
  - address: 192.168.20.1
searchDomains:
  disableDefault: true
---
apiVersion: v1alpha1
kind: EthernetConfig
name: enp5s0f0np0
rings:
  rx: 8160
  tx: 8160
---
apiVersion: v1alpha1
kind: EthernetConfig
name: enp5s0f1np1
rings:
  rx: 8160
  tx: 8160
---
apiVersion: v1alpha1
kind: TimeSyncConfig
ntp:
  servers:
    - time.cloudflare.com
