---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name searxng
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        SEARXNG_SECRET: "{{ .SEARXNG_SECRET }}"
        SEARXNG_REDIS_URL: redis://:{{ .DRAGONFLY_PASSWORD }}@dragonfly.database.svc.cluster.local:6379/4
        WIREGUARD_ENDPOINT_IP: "{{ .SEARXNG_WIREGUARD_ENDPOINT_IP }}"
        WIREGUARD_ENDPOINT_PORT: "{{ .SEARXNG_WIREGUARD_ENDPOINT_PORT }}"
        WIREGUARD_PUBLIC_KEY: "{{ .SEARXNG_WIREGUARD_PUBLIC_KEY }}"
        WIREGUARD_PRIVATE_KEY: "{{ .SEARXNG_WIREGUARD_PRIVATE_KEY }}"
        WIREGUARD_ADDRESSES: "{{ .SEARXNG_WIREGUARD_ADDRESSES }}"
        WIREGUARD_ALLOWED_IPS: "{{ .SEARXNG_WIREGUARD_ALLOWED_IPS }}"
  dataFrom:
    - extract:
        key: dragonfly
    - extract:
        key: ovpn
    - extract:
        key: searxng
