---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: searxng
spec:
  chartRef:
    kind: OCIRepository
    name: searxng
  interval: 1h
  values:
    controllers:
      searxng:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/searxng/searxng
              tag: latest
            env:
              SEARXNG_BASE_URL: https://search.wyde.network
              SEARXNG_URL: https://search.wyde.network
              SEARXNG_PORT: &port 8080
              TZ: &tz Europe/Stockholm
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /stats
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 2Gi
            securityContext: &securityContext
              runAsNonRoot: true
              runAsUser: 65534
              runAsGroup: 65534
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
          dnsdist:
            image:
              repository: docker.io/powerdns/dnsdist-19
              tag: 1.9.11@sha256:720091e8702abcc863a1ad6fe8667c62f82797f33cd4924a2e49c57d5da5b451
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
            securityContext: *securityContext
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.1@sha256:dc38bac12b40bb935e477f0dbd88adf174001c84b144c86648b25ff5f14ef54a
            env:
              DNS_ADDRESS: "127.0.0.2"
              # Disable DNS over TLS. Available using dnsdist instead.
              DOT: off
              # Ports to allow through the default interface. This is needed for Kubernetes sidecars.
              FIREWALL_INPUT_PORTS: "8080,9999"
              # Allow access to K8s subnets.
              FIREWALL_OUTBOUND_SUBNETS: "10.42.0.0/16,10.43.0.0/16"
              # Internal health check server listening address.
              HEALTH_SERVER_ADDRESS: ":9999"
              TZ: *tz
              VPN_SERVICE_PROVIDER: custom
              VPN_TYPE: wireguard
              VPN_INTERFACE: wg0
            envFrom: *envFrom
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: true
                spec:
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 5
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
                # Request the /dev/net/tun device that is exposed on the node
                # using generic-device-plugin. For more information, see:
                # - https://www.talos.dev/v1.8/introduction/what-is-new/#accessing-devnettun-in-kubernetes-pods
                # - https://www.talos.dev/v1.8/kubernetes-guides/configuration/device-plugins/
                squat.ai/tun: "1"
              limits:
                memory: 256Mi
                squat.ai/tun: "1"
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {add: ["NET_ADMIN"]}
    persistence:
      dnsdist-config:
        type: configMap
        name: dnsdist-configmap
        globalMounts:
          - path: /etc/dnsdist/dnsdist.conf
            subPath: dnsdist.conf
            readOnly: true
      searxng:
        type: emptyDir
        globalMounts:
          - path: /etc/searxng
      searxng-config:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        globalMounts:
          - path: /etc/searxng/limiter.toml
            subPath: limiter.toml
            readOnly: true
          - path: /etc/searxng/settings.yml
            subPath: settings.yml
            readOnly: true
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.wyde.network"
          - search.wyde.network
        parentRefs:
          - name: envoy-internal
            namespace: network
    service:
      app:
        ports:
          http:
            port: *port
