---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app blackbox-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: blackbox-exporter
  interval: 1h
  values:
    fullnameOverride: *app
    config:
      modules:
        http_2xx:
          prober: http
          timeout: 5s
          http:
            valid_http_versions:
              - HTTP/1.1
              - HTTP/2.0
            follow_redirects: true
            preferred_ip_protocol: ip4
        icmp:
          prober: icmp
          timeout: 5s
          icmp:
            preferred_ip_protocol: ip4
        tcp_connect:
          prober: tcp
          timeout: 5s
          tcp:
            preferred_ip_protocol: ip4
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 96Mi
    serviceMonitor:
      enabled: true
