---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: silence-operator
spec:
  interval: 1h
  chart:
    spec:
      chart: silence-operator
      version: 0.0.7
      sourceRef:
        kind: HelmRepository
        name: wiremind
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      name: quay.io/giantswarm/silence-operator
    operator:
      config:
        alertmanager:
          service:
            address: http://kube-prometheus-stack-alertmanager:9093
    rbac:
      create: true
    extraDeploy:
      - apiVersion: monitoring.giantswarm.io/v1alpha1
        kind: Silence
        metadata:
          name: pve-memory-high-utilization
          namespace: observability
        spec:
          matchers:
            - name: alertname
              value: NodeMemoryHighUtilization
              isRegex: false
            - name: instance
              value: pve.*
              isRegex: true
