---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  chartRef:
    kind: OCIRepository
    name: loki
  interval: 1h
  values:
    deploymentMode: SingleBinary
    loki:
      auth_enabled: false
      analytics:
        reporting_enabled: false
      commonConfig:
        replication_factor: 1
      compactor:
        working_directory: /var/loki/compactor/retention
        delete_request_store: filesystem
        retention_enabled: true
      ingester:
        chunk_encoding: snappy
      limits_config:
        retention_period: 14d
      schemaConfig:
        configs:
          - from: "2024-04-01" # Must be quoted.
            store: tsdb
            object_store: filesystem
            schema: v13
            index:
              prefix: loki_index_
              period: 24h
      server:
        grpc_server_max_recv_msg_size: 10485760 # 10 MiB
        grpc_server_max_send_msg_size: 10485760 # 10 MiB
        log_level: info
      storage:
        type: filesystem
        bucketNames:
          chunks: chunks
    backend:
      replicas: 0
    chunksCache:
      enabled: false
    gateway:
      replicas: 0
    lokiCanary:
      enabled: false
    read:
      replicas: 0
    resultsCache:
      enabled: false
    singleBinary:
      replicas: 1
      resources:
        requests:
          cpu: 10m
          memory: 256Mi
        limits:
          memory: 512Mi
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 50Gi
    test:
      enabled: false
    write:
      replicas: 0
