---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi-dns
spec:
  chartRef:
    kind: OCIRepository
    name: unifi-dns
  interval: 1h
  values:
    fullnameOverride: external-dns-unifi
    domainFilters:
      - wyde.network
    podAnnotations:
      secret.reloader.stakater.com/reload: &secret unifi-dns-secret
    policy: sync
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/kashalls/external-dns-unifi-webhook
          tag: v0.8.0@sha256:fb2f74fdd0fc9fa22b95b525ccca9958715c0963d317da23b5f858858443dabe
        env:
          - name: UNIFI_HOST
            value: https://unifi.wyde.network
          - name: UNIFI_API_KEY
            valueFrom:
              secretKeyRef:
                name: *secret
                key: UNIFI_API_KEY
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        memory: 192Mi
    serviceMonitor:
      enabled: true
    sources:
      - gateway-httproute
      - service
    triggerLoopOnEvent: true
    txtOwnerId: main
    txtPrefix: k8s.main.
