---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: self-hosted
components:
  - ../../components/namespace
resources:
  # Flux-Kustomizations
  - ./dokuwiki/ks.yaml
  - ./karakeep/ks.yaml
  - ./immich/ks.yaml
  - ./immich-folder-album-creator/ks.yaml
  - ./nextcloud/ks.yaml
  - ./searxng/ks.yaml
