---
customization:
  extraKernelArgs:
    - net.ifnames=0                       # Disable predictable network interface names.
    - -init_on_alloc                      # Less security, more performance.
    - -selinux                            # Less security, more performance.
    - apparmor=0                          # Less security, more performance.
    - init_on_alloc=0                     # Less security, more performance.
    - init_on_free=0                      # Less security, more performance.
    - mitigations=off                     # Less security, more performance.
    - security=none                       # Less security, more performance.
    - talos.auditd.disabled=1             # Less security, more performance.
  systemExtensions:
    officialExtensions:
      - siderolabs/amd-ucode
      - siderolabs/nfsrahead
      - siderolabs/qemu-guest-agent
      - siderolabs/util-linux-tools
