---
ingress:
  - hostname: "*.wyde.network"
    originRequest:
      http2Origin: true
      keepAliveTimeout: 3600s
      originServerName: external.wyde.network
      tcpKeepAlive: 7200s
    service: https://envoy-external.network.svc.cluster.local:443
  - service: http_status:404
