---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: searxng
spec:
  dependsOn:
    - name: dragonfly-cluster
      namespace: database
    - name: generic-device-plugin
      namespace: kube-system
  interval: 1h
  path: ./kubernetes/apps/self-hosted/searxng/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: self-hosted
  wait: false
