---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app nextcloud
spec:
  chartRef:
    kind: OCIRepository
    name: nextcloud
  interval: 1h
  values:
    fullnameOverride: *app
    deploymentAnnotations:
      secret.reloader.stakater.com/reload: &secret nextcloud-secret
    image:
      registry: docker.io
      repository: library/nextcloud
      tag: 32.0.6-fpm-alpine
      flavor: fpm-alpine
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      database: nextcloud
      existingSecret:
        enabled: true
        secretName: *secret
        hostKey: POSTGRES_HOST
        databaseKey: POSTGRES_DB
        usernameKey: POSTGRES_USER
        passwordKey: POSTGRES_PASSWORD
    nextcloud:
      host: nextcloud.wyde.network
      extraEnv:
        - name: PHP_MEMORY_LIMIT
          value: "512M"
        - name: PHP_UPLOAD_LIMIT
          value: "10G"
        - name: PHP_OPCACHE_MEMORY_CONSUMPTION
          value: "256"
        - name: REDIS_HOST
          value: dragonfly.database.svc.cluster.local
        - name: REDIS_HOST_PORT
          value: "6379"
        - name: REDIS_DB_INDEX
          value: "5"
        - name: REDIS_HOST_PASSWORD
          valueFrom:
            secretKeyRef:
              name: *secret
              key: REDIS_HOST_PASSWORD
        - name: TZ
          value: "Europe/Stockholm"
      extraInitContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:17
          envFrom:
            - secretRef:
                name: *secret
      existingSecret:
        enabled: true
        secretName: *secret
        usernameKey: NEXTCLOUD_ADMIN_USER
        passwordKey: NEXTCLOUD_ADMIN_PASSWORD
        tokenKey: NEXTCLOUD_METRICS_TOKEN
        smtpHostKey: SMTP_HOST
        smtpUsernameKey: SMTP_USERNAME
        smtpPasswordKey: SMTP_PASSWORD
      defaultConfigs:
        imaginary.config.php: true
        redis.config.php: false
      configs:
        # Log levels: 0=debug, 1=info, 2=warn, 3=error, 4=fatal
        logging.config.php: |-
          <?php
          $CONFIG = array (
            'log_type' => 'file',
            'logfile' => '/var/www/html/data/nextcloud.log',
            'logtimezone' => 'Europe/Stockholm',
            'loglevel' => 1,
            'logdateformat' => 'F d, Y H:i:s'
          );
        misc.config.php: |-
          <?php
          $CONFIG = array (
            'allow_local_remote_servers' => true,
            'appstoreenabled' => true,
            'auth.bruteforce.protection.enabled' => true,
            // Circumvention for client freezes. See https://github.com/nextcloud/desktop/issues/5094
            'bulkupload.enabled' => false,
            'check_data_directory_permissions' => false,
            'default_language' => 'en',
            'default_locale' => 'sv_SE',
            'default_phone_region' => 'SE',
            'default_timezone' => 'Europe/Stockholm',
            'forbidden_filenames' => array(
              0 => '.htaccess',
              1 => 'Thumbs.db',
              2 => 'thumbs.db',
            ),
            'knowledgebaseenabled' => false,
            'maintenance_window_start' => 1,
            'skeletondirectory' => '',
            'trashbin_retention_obligation' => 'auto, 7',
          );
        previews.config.php: |-
          <?php
          $CONFIG = array (
            'enable_previews' => true,
            'preview_max_x' => '2048',
            'preview_max_y' => '2048',
            'preview_max_scale_factor' => 1,
            'jpeg_quality' => '60',
            'enabledPreviewProviders' => array(
              0 => 'OC\\Preview\\AVI',
              1 => 'OC\\Preview\\BMP',
              2 => 'OC\\Preview\\GIF',
              3 => 'OC\\Preview\\HEIC',
              4 => 'OC\\Preview\\Imaginary',
              5 => 'OC\\Preview\\Image',
              6 => 'OC\\Preview\\ImaginaryPDF',
              7 => 'OC\\Preview\\JPEG',
              8 => 'OC\\Preview\\Krita',
              9 => 'OC\\Preview\\MarkDown',
              10 => 'OC\\Preview\\Movie',
              11 => 'OC\\Preview\\MKV',
              12 => 'OC\\Preview\\MP3',
              13 => 'OC\\Preview\\MP4',
              14 => 'OC\\Preview\\OpenDocument',
              15 => 'OC\\Preview\\PDF',
              16 => 'OC\\Preview\\PNG',
              17 => 'OC\\Preview\\TXT',
              18 => 'OC\\Preview\\XBitmap',
            ),
          );
        proxy.config.php: |-
          <?php
          $CONFIG = array (
            'trusted_proxies' => array(
              0 => '127.0.0.1',
              1 => '10.42.0.0/16',
            ),
            'forwarded_for_headers' => array(
              0 => 'HTTP_X_FORWARDED_FOR',
            ),
          );
        redis.config.php: |-
          <?php
            $CONFIG = array (
              'memcache.local' => '\OC\Memcache\APCu',
              'memcache.distributed' => '\OC\Memcache\Redis',
              'memcache.locking' => '\OC\Memcache\Redis',
              'redis' => array(
                'host' => getenv('REDIS_HOST'),
                'port' => getenv('REDIS_HOST_PORT') ?: 6379,
                'password' => getenv('REDIS_HOST_PASSWORD'),
                'dbindex' => getenv('REDIS_DB_INDEX') ?: 0,
                'timeout'       => 1.5,
                'read_timeout'  => 1.5,
              ),
            );
      mail:
        enabled: true
        fromAddress: *app
        domain: wyde.network
        smtp:
          secure: ssl
          port: 465
          authtype: LOGIN
      phpConfigs:
        www.conf: |
          pm = dynamic
          pm.max_children = 10
          pm.start_servers = 3
          pm.min_spare_servers = 2
          pm.max_spare_servers = 5
          pm.max_requests = 500
          pm.process_idle_timeout = 10s
      securityContext:
        runAsNonRoot: true
        runAsUser: 82
        runAsGroup: 82
        readOnlyRootFilesystem: false
    cronjob:
      enabled: true
      securityContext:
        runAsGroup: 82
    imaginary:
      enabled: true
    ingress:
      enabled: false
    nginx:
      config:
        default: true
      enabled: true
      securityContext:
        runAsGroup: 82
      resources:
        requests:
          cpu: 50m
          memory: 24Mi
        limits:
          memory: 128Mi
    metrics:
      enabled: false
      https: true
      server: https://nextcloud.wyde.network
      token: ${NEXTCLOUD_METRICS_TOKEN}
      info:
        apps: true
      serviceMonitor:
        enabled: false
      resources:
        requests:
          cpu: 10m
          memory: 24Mi
        limits:
          memory: 64Mi
    phpClientHttpsFix:
      enabled: true
      protocol: https
    persistence:
      enabled: true
      existingClaim: *app
    resources:
      requests:
        cpu: 200m
        memory: 384Mi
      limits:
        memory: 2Gi
