---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tailscale-operator
spec:
  chartRef:
    kind: OCIRepository
    name: tailscale-operator
  interval: 1h
  values:
    apiServerProxyConfig:
      mode: "true"
    fullnameOverride: *app
    oauthSecretVolume:
      secret:
        secretName: &secret tailscale-operator-secret
    operatorConfig:
      hostname: *app
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
