---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name democratic-csi-iscsi
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        driver-config-file.yaml: |
          driver: freenas-api-iscsi
          httpConnection:
            protocol: https
            host: nas.${SECRET_DOMAIN}
            port: 443
            apiKey: {{ .TRUENAS_API_KEY }}
            allowInsecure: false
          zfs:
            datasetProperties:
              "org.freenas:description": "{{`{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}`}}/{{`{{ parameters.[csi.storage.k8s.io/pvc/name] }}`}}"
            datasetParentName: ssd-data/K8s/iSCSI/Vols
            detachedSnapshotsDatasetParentName: ssd-data/K8s/iSCSI/Snaps
            zvolCompression: zstd
            zvolDedup: false
            zvolEnableReservation: false
            zvolBlocksize: 16K
          iscsi:
            targetPortal: "${SECRET_NAS_IP}:3260"
            nameTemplate: "{{`{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}`}}-{{`{{ parameters.[csi.storage.k8s.io/pvc/name] }}`}}"
            namePrefix: csi-
            nameSuffix: ""
            targetGroups:
              - targetGroupPortalGroup: 2
                targetGroupInitiatorGroup: 4
                targetGroupAuthType: None
            extentCommentTemplate: "{{`{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}`}}/{{`{{ parameters.[csi.storage.k8s.io/pvc/name] }}`}}"
            extentInsecureTpc: true
            extentXenCompat: false
            extentDisablePhysicalBlocksize: true
            extentBlocksize: 4096
            extentRpm: "SSD"
            extentAvailThreshold: 0
  dataFrom:
    - extract:
        key: truenas
