---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name immich-folder-album-creator
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        API_KEY: "{{ .IMMICH_API_KEY }}"
        SHARE_WITH: "{{ .IMMICH_SHARE_WITH }}"
  dataFrom:
    - extract:
        key: immich
