---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-folder-album-creator
spec:
  chartRef:
    kind: OCIRepository
    name: immich-folder-album-creator
  interval: 1h
  values:
    controllers:
      immich-folder-album-creator:
        annotations:
          reloader.stakater.com/auto: "true"
        type: cronjob
        cronjob:
          failedJobsHistory: 1
          schedule: "@weekly"
          successfulJobsHistory: 1
          timeZone: &tz Europe/Stockholm
        containers:
          app:
            image:
              repository: ghcr.io/salvoxia/immich-folder-album-creator
              tag: 0.23.1@sha256:4f6a56a4c135d0a22a5971daf43ff22ea53b131d765671967d803bd5db75cf05
            command:
              - /script/immich_auto_album.sh
            env:
              API_URL: http://immich-app.self-hosted.svc.cluster.local:2283/api
              ALBUM_LEVELS: 1
              LOG_LEVEL: DEBUG
              ROOT_PATH: /photos
              SET_ALBUM_THUMBNAIL: random
              # Synchronization mode to use. Synchronization mode helps synchronizing changes in
              # external libraries structures to Immich after albums have already been created.
              # Possible modes:
              # 0 = Do nothing.
              # 1 = Delete any empty albums.
              # 2 = Delete offline assets AND any empty albums.
              SYNC_MODE: 1
              # Comment to perform dry run (only list albums that would be created).
              UNATTENDED: 1
              TZ: *tz
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
