---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: navidrome
spec:
  chartRef:
    kind: OCIRepository
    name: navidrome
  interval: 1h
  values:
    controllers:
      navidrome:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.60.2@sha256:1b3f9556fc4f70cb1c2d3995543e734bdc90c762c9c6ee9a7c5f6a9745efbc3e
            env:
              ND_LOGLEVEL: info
              ND_DATAFOLDER: /data
              ND_CACHEFOLDER: /data/cache
              ND_MUSICFOLDER: /music
              ND_AUTOIMPORTPLAYLISTS: false
              ND_ARTISTARTPRIORITY: "folder.*, external"
              ND_COVERARTPRIORITY: "folder.*, cover.*, embedded, external"
              ND_SCANNER_SCHEDULE: 0 * * * *
              ND_SCANNER_PURGEMISSING: always
              ND_IMAGECACHESIZE: "512MB"
              ND_TRANSCODINGCACHESIZE: "512MB"
              ND_ENABLEINSIGHTSCOLLECTOR: false
              ND_PROMETHEUS_ENABLED: true
              ND_DEFAULTTHEME: "Catppuccin Macchiato"
              ND_REVERSEPROXYWHITELIST: "10.42.0.0/16"
              TZ: Europe/Stockholm
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &port 4533
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 50m
                memory: 768Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true # Disable during database upgrade.
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true # Disable during database upgrade.
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
      music:
        type: nfs
        server: nas.wyde.network
        path: /mnt/hdd-media/Media/Library/Music
        globalMounts:
          - path: /music
            readOnly: true
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.wyde.network"
        parentRefs:
          - name: envoy-internal
            namespace: network
    service:
      app:
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
