---
# yaml-language-server: $schema=https://home-kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  chartRef:
    kind: OCIRepository
    name: external-secrets
  interval: 1h
  values:
    certController:
      resources:
        requests:
          cpu: 10m
          memory: 48Mi
        limits:
          memory: 96Mi
    grafanaDashboard:
      annotations:
        grafana_folder: Security
      enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 48Mi
      limits:
        memory: 96Mi
    serviceMonitor:
      enabled: true
    webhook:
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          memory: 64Mi
